version: "3.8"
services:
  app :
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pokeDex_app
    ports:
      - 5020:5000
    networks:
      - network
  db:
    build: ./db/
    ports:
      - 5432:5432
    networks:
      - network
networks:
   network:
     driver: bridge
    
